@page
@model FunOlympic1.Pages.Videos.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<style>
    .h2 {
        font-size: 30px;
        font-family: 'EB Garamond';
        font-weight: bold;
    }

    .card {
        padding: 10px;
    }
</style>
<div class="container">

<h1 class="h2">Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div class="card">
    <h4>Video</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Video.VideoTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Video.VideoTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Video.VideoLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Video.VideoLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Video.ThumbnailLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Video.ThumbnailLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Video.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Video.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Video.PublishDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Video.PublishDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Video.VideoDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Video.VideoDescription)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Video.VideoID" />
        <input type="submit" value="Delete" class="btn btn-danger danger" /> |
            <a asp-page="./Index" class="btn btn-info"> <i class="bi bi-caret-down"></i> Back to List</a>
    </form>
</div>
</div>

            <style>
                .danger{
                background-color: red;
                }
            </style>