@page
@model FunOlympic1.Pages.videolistModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Video[0].VideoTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Video[0].VideoLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Video[0].ThumbnailLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Video[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Video[0].PublishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Video[0].VideoDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Video) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VideoTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VideoLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThumbnailLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VideoDescription)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.VideoID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.VideoID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.VideoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
